%h1 Welcome to FitzBucks.
%section
  %p
    We have an application that shows the Profit/Loss (P/L) By Client. This can
    be found here:
    = link_to "P/L By Client", new_profit_loss_client_path
  %p
    This report gives you a list of Clients; their total stakes, returns and P/L;
    and a headline figure of all combined clients.
  %p
    We would like you to create a report that shows the overall P/L for the clients,
    that can then be broken down into P/L totals by sport. For example, we want to
    see a client's total P/L, and a list of sports. Each sport should have its own
    P/L, based on the client's bets for that sport. We have supplied you with only 6
    months worth of test data. The date range for the bets is between 01/01/2014 and
    30/06/2014 inclusive.
  %p
    This report should be called "P/L By Client By Sport".
  %p
    You should consider how a larger and more complex data set will affect the
    reports and try to cater for these situations. Also, think about how
    to format the report so that the data can be digested easily. We want to see how
    you approach the problem, how you would solve it and most importantly what your
    code looks like. Do whatever you think shows your abilities best.
  %p
    You are allowed to change any part of the application, and feel free to use the
    example report format as a basis for your report or you can come up with your
    own.
  %p
    Testing is encouraged; we use RSpec and Cucumber.
  %p
    Please use the local Git repo supplied with this application and use the
    "solution" branch.
